@charset "UTF-8";
#bg1 {
    background-image: url(images/intro1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 800px;
    padding: 10px;
}

html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#container {
    display: flex;
}

#container div {
    width: 200px;
    border: 1px solid black;
    background: #ccc;
}